<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
              <h1 class="title -highlight -huge">Terms  <span style="color: #ffffff">of Reference</span></h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">

	 <div class="row js-masonry-cards">

         <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/1.SIBE_Build capacity of member states investment and business officials.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -dark -xs">Build capacity of member states' investment and business officials on thematic areas.</h4>
                  <p>The objective of this assignment is to mitigate the adverse impact of the COVID-19 pandemic crisis by enhancing the capacity of investment promotion and business officials from Member States in new paradigms of investment promotion and facilitation.  </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>

                </div>
              </a>
            </article>
          </div>


 <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/2.SIBE_SADC Tax Expenditure Model for analysing tax incentives.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -dark -xs">Review and build capacity of Member States on the use of the SADC Tax Expenditure Model for analysing tax incentives.</h4>
                  <p>The objective of this assignment is to create an enabling investment and business environment through improvement of tax incentives administration and rationalisation in the SADC region.</p>
<br>
    <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                 -  Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>
              </div>
              </a>
            </article>
          </div>

 <div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/3.SIBE_Support the develop National Financial Inclusion Strategies in Angola.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -dark -xs">Develop National Financial Inclusion Strategy in line with the SADC Strategy on Financial Inclusion and SMEs Access to Finance in Angola. </h4>
                  <p>The objective of the assignment is to develop a National Financial Inclusion and SME Access to Finance Strategy for Angola. </p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic"> - Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                 -  Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic"> -  If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>


<div class="js-masonry-item grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/4.SIBE_SADC Investment Climate Scorecard.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -dark -xs">SADC Investment Climate Scorecard </h4>
                  <p>The objective of this assignment is to conduct research on the investment legal frameworks and support the preparation of the SADC Investment Climate Scorecard. </p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience
In-country consultants are needed to carry out this assignment in the following SADC countries; South Africa, Botswana, Malawi, Eswatini, Lesotho, Mozambique, Tanzania, Zambia, Angola, Zimbabwe, Namibia, Madagascar, Seychelles, Mauritius, DRC.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>








      </div>
    </div>
  </div>
</div>
