<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
              <h1 class="title -highlight -huge">Terms  <span style="color: #ffffff">of Reference</span></h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">

	 <div class="row js-masonry-cards">



         <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/1.SIBE_Build capacity of member states investment and business officials.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Build capacity of member states' investment and business officials on thematic areas.</h4>
                  <p>The objective of this assignment is to mitigate the adverse impact of the COVID-19 pandemic crisis by enhancing the capacity of investment promotion and business officials from Member States in new paradigms of investment promotion and facilitation.  </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>

                </div>
              </a>
            </article>
          </div>



 <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/3.SIBE_Support the develop National Financial Inclusion Strategies in Angola.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop National Financial Inclusion Strategy in line with the SADC Strategy on Financial Inclusion and SMEs Access to Finance in Angola. </h4>
                  <p>The objective of the assignment is to develop a National Financial Inclusion and SME Access to Finance Strategy for Angola. </p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic"> - Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                 -  Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic"> -  If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>


<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/4.SIBE_SADC Investment Climate Scorecard.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">SADC Investment Climate Scorecard. </h4>
                  <p>The objective of this assignment is to conduct research on the investment legal frameworks and support the preparation of the SADC Investment Climate Scorecard. </p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience
In-country consultants are needed to carry out this assignment in the following SADC countries; South Africa, Botswana, Malawi, Eswatini, Lesotho, Mozambique, Tanzania, Zambia, Angola, Zimbabwe, Namibia, Madagascar, Seychelles, Mauritius, DRC.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>




<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/5.SIBE_Develop a strategy document to showcase SADC invesments.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop a strategy to showcase SADC investment projects.</h4>
                  <p>The overall objective of this assignment is to contribute to achieving sustainable and inclusive growth, support job creation and support the industrialisation agenda in the SADC region through promotion of a conducive intra-SADC and foreign direct investment.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>




<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/6.SIBE_Assess and implement the Financial Action Task Force.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Assess the level of risk-based approach to implementation of the Financial Action Task Force (FATF).</h4>
                  <p>The global objective of the Assignment is to facilitate the convergence
of the anti-money laundering and combating financing of terrorism
policies (AML/CFT), laws and regulatory practices in Member States.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>





<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/7.SIBE_Build capacity of Member States in fintech crypto digital ledger tech.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Build capacity of Member States in financial technology, crypto assets, digital ledger technologies and cyber security.</h4>
                  <p>The specific objective of the Assignment is to capacitate Member States (Central Bank Officials) to fully understand financial technology, crypto assets, digital ledger technologies and cyber security and to also develop the skills needed for Member States to fully understand emerging issues in financial technology and their implication and impact on the financial sector.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>









<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/12.SIBE_Develop Model Laws and Regulations for NBFIs to assist CISNA’s technical subcommittees.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop model laws and/or regulations for NBFIs to assist CISNA’s technical subcommittees.</h4>
                  <p>The specific objective of the Assignment is to assist CISNA’s technical subcommittees to deliver on their supervisory and regulatory mandate by developing model laws/regulations for NBFIs to assist in the development of their respective laws by providing a benchmark document for reference.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>









<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/9.SIBE_Facilitate negotiations on double taxation avoidance treaties among Member States.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Facilitate negotiations on double taxation avoidance treaties among Member States.</h4>
                  <p>The overall objective of this assignment is to create an enabling investment and business environment in the region through harmonisation and cooperation among Member States in tax and related matters.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>










<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/13.SIBE_ Review and update the SADC Model Double Taxation Avoidance Agreement.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Review and update the SADC Model Double Taxation Avoidance Agreement to take into account developments both at regional and international levels.</h4>
                  <p>The specific objectives of the assignment is to enhance cooperation among Member States in tax related matters through negotiations of their tax treaties among SADC State partners.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>








      </div>
    </div>
  </div>
</div>
