<% title 'Terms of Reference | FinMark Trust' %>

<div class="l-tools">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
              <h1 class="title -highlight -huge">Terms  <span style="color: #ffffff">of Reference</span></h1>
                <p class="subtitle">Our terms of reference cover expressions of interest, full TORs, available positions and consultant work. Check in here regularly for updates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">

	 <div class="row js-masonry-cards">





<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Review Financial Inclusion Strategy for Botswana.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Review the National Financial Inclusion Strategy and Roadmap for Botswana</h4>
                  <p>Inform the development of the 2022-2027 Botswana
National Strategy and Roadmap in line with the SADC Strategy on Financial Inclusion and SMEs Access to Finance.</p>
<br>
                   <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>



                </div>
              </a>
            </article>
          </div>























         <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Develop National Action Programmes on Investment for Lesotho.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop National Action Programme on Investment (NAPI) to domesticate the SADC Investment Policy Framework (IPF) for Lesotho.</h4>
                  <p>The specific objective of the SIBE Programme is to develop the region into a SADC investment zone, promoting intra-regional investment and FDI in the SADC region, in particular for SMEs. </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>


                </div>
              </a>
            </article>
          </div>





         <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Develop National Action Programmes on Investment for DR Congo.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop National Action Programme on Investment (NAPI) to domesticate the SADC Investment Policy Framework (IPF) for the Democratic Republic of Congo.</h4>
                  <p>The specific objective of the SIBE Programme is to develop the region into a SADC investment zone, promoting intra-regional investment and FDI in the SADC region, in particular for SMEs.  </p>
<br>
                  <span style="color:#525252; font-size:11px; font-style: italic">- Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>


                </div>
              </a>
            </article>
          </div>






         <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/Innovative Financing Instruments.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/innovation_TOR.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Innovative Financing Instruments for Smallholder Farmers, Producers, and Agri-Businesses.</h4>
                  <p>Conduct a review of existing financing instruments available to smallholder farmers, producers, and agri-businesses and design a contextual innovative financing model (drawn from international best practices) to support improved access to finance for the study’s target group.  </p>
<br>

                </div>
              </a>
            </article>
          </div>








 <div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/3.SIBE_Support the develop National Financial Inclusion Strategies in Angola.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop National Financial Inclusion Strategy in line with the SADC Strategy on Financial Inclusion and SMEs Access to Finance in Angola. </h4>
                  <p>The objective of the assignment is to develop a National Financial Inclusion and SME Access to Finance Strategy for Angola. </p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic"> - Pay particular attention to the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience.<br>
                 -  Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic"> -  If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>






<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/5.SIBE_Develop a strategy document to showcase SADC invesments.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Develop a strategy to showcase SADC investment projects.</h4>
                  <p>The overall objective of this assignment is to contribute to achieving sustainable and inclusive growth, support job creation and support the industrialisation agenda in the SADC region through promotion of a conducive intra-SADC and foreign direct investment.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>




<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/7.SIBE_Build capacity of Member States in fintech crypto digital ledger tech.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Build capacity of Member States in financial technology, crypto assets, digital ledger technologies and cyber security.</h4>
                  <p>The specific objective of the Assignment is to capacitate Member States (Central Bank Officials) to fully understand financial technology, crypto assets, digital ledger technologies and cyber security and to also develop the skills needed for Member States to fully understand emerging issues in financial technology and their implication and impact on the financial sector.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>













<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/9.SIBE_Facilitate negotiations on double taxation avoidance treaties among Member States.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE01.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Facilitate negotiations on double taxation avoidance treaties among Member States.</h4>
                  <p>The overall objective of this assignment is to create an enabling investment and business environment in the region through harmonisation and cooperation among Member States in tax and related matters.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>










<div class="js-masonry-item grid-s-12 grid-m-4">
            <article class="c-card">
              <a href="https://finmark.org.za/TOR/13.SIBE_ Review and update the SADC Model Double Taxation Avoidance Agreement.pdf" target="_blank" alt="TOR" rel="noopener noreferrer">
              	<img class="picture" src="<%= asset_path('https://finmark.org.za/TOR/SIBE02.jpg')%>" >

                <div class="metadata">
                  <h4 class="title -blue -medium">Review and update the SADC Model Double Taxation Avoidance Agreement to take into account developments both at regional and international levels.</h4>
                  <p>The specific objectives of the assignment is to enhance cooperation among Member States in tax related matters through negotiations of their tax treaties among SADC State partners.</p>
<br>
       <span style="color:#525252; font-size:11px; font-style: italic">- See the Scoring Grid (Annex 1) for the desired qualifications, skills and professional experience<br>
                  - Deadline for CV submission: To be advised on request.<br>
                  </span>

<span style="color:#525252; font-size:11px; font-style: italic">- If you are interested in submitting your CV for this assignment, kindly email <a href="mailto:robertj@finmark.org.za" style="color:#203366; font-size:11px; font-style: bold">robertj@finmark.org.za</a>.   </span>              </div>
              </a>
            </article>
          </div>








      </div>
    </div>
  </div>
</div>
