<div class="c-home-intro-hero" style="background-image: url(<%= asset_path('homepage/image_home_intro@2x.png') %>)">
    <div class="c-home-intro-search">
        <div class="wrapper">
            <%= form_tag(search_path, :method => "get", :class => 'c-home-intro-search-field') do %>
            <%= label_tag(:term, "Search for:", :class => '_is-visually-hidden') %>
            <%= text_field_tag(:term, params[:term], :placeholder => 'Enter keyword here') %>
            <%= button_tag(:type => 'submit', :name => nil) do %>
            <svg class="icon">
                <use xlink:href="#icon-search-finmark"></use>
            </svg>
            <% end %>
            <% end %>
        </div>
    </div>

    <div class="wrapper">
        <div class="c-home-intro-hero-container">
            <div class="c-home-intro-hero-row">
                <div>
                    <div class="c-home-intro-hero-content">
                        <h1 class="-white"><span style="color: #0097AE">COVID-19</span> <span>Tracking survey status</span></h1>
                        <p style="color: #ffffff">The COVID-19 tracking survey themes include health and risk behaviours, food security, income, work and job security, personal safety concerns, and access to government and community support.</p>
                    </div>

                    <br><br>
                    <a class="c-button" style="background-color: #0097AE" href="https://covid19tracker.africa/" target="_blank">View Tracker </a>

                    <br><br>
                    <hr>
                     <br><br>
                    <h3 class="-white">View content by:</h3>

                    <%= form_tag(insights_filter_index_path('all'), method: 'get', class: 'c-home-intro-hero-dropdowns') do %>
                      <div class="c-home-intro-hero-dropdown c-home-intro-hero-dropdown-topic">
                        <%= label_tag :topics, 'Topics', :class => '_is-visually-hidden' %>
                        <%= select_tag(:topics, options_for_select(@topics.collect { |c| [c.name, c.slug] }, params[:topics]), { include_blank: 'Select your topic' }) %>
                        <div class="c-home-intro-hero-dropdown-icon">
                          <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                        </div>
                      </div>
                      <div class="c-home-intro-hero-dropdown c-home-intro-hero-dropdown-location">
                          <%= label_tag :locations, 'Locations', :class => '_is-visually-hidden' %>
                          <%= select_tag(:locations, options_for_select(@countries.all.collect { |c| [c.name, c.iso] }, params[:locations]), { include_blank: 'Select your location' }) %>
                          <div class="c-home-intro-hero-dropdown-icon">
                            <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                          </div>
                      </div>
                      <div class="c-home-intro-hero-submit-button">
                        <%= button_tag('Apply', type: :submit, readonly: true, class: 'c-button') %>
                      </div>
                    <% end %>

                    <div class="c-home-intro-hero-caption">
                        <p>The websites content will be changed based on your selection</p>
                    </div>
                </div>




                <div class="c-home-intro-hero-links">
                <div class="c-home-intro-hero-content">
                 <h1 class="-white">Our work</h1>
                   <p style="color: #ffffff; text-align:left; font-size: 12px; font-weight: 400;  padding-bottom: 0px; padding-top: 0px ">Our work seeks to further financial and economic inclusion for the poor of the SADC region. The work is implemented in individual countries as well as on a regional basis to support finance and economic integration on the region.  </p>
                 </div>





                    <h5 class="title -regular"  style="font-size: 23px; font-weight: 700;"><%= link_to 'Programmes', initiatives_path, :class => '-white' %></h5>
                    <ul>
                      <% @featured_tags.each_with_index do |tag, i| %>
                        <li><%= link_to initiatives_filter_index_path(tag.slug) do %><span><%=(i + 1).to_s.rjust(2, '0') %>. </span><%=tag.title %><% end %></li>
                      <% end %>
                    </ul>
                    <h5 class="title -regular"  style="font-size: 23px; font-weight: 700;"><%= link_to 'Data for financial markets', data_for_financial_markets_path, :class => '-white' %></h5>
                    <ul>
                      <% @featured_data.each_with_index do |(anchor, name), i| %>
                        <li><%= link_to data_for_financial_markets_path(:anchor => anchor), data: { turbolinks: false } do %><span><%=(i + 1).to_s.rjust(2, '0') %>. </span><%=name %><% end %></li>
                      <% end %>
                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>
