<div class="c-home-intro-hero" style="background-image: url(<%= asset_path('homepage/image_home_intro@2x.png') %>)">
    <div class="c-home-intro-search">
        <div class="wrapper">
            <%= form_tag(search_path, :method => "get", :class => 'c-home-intro-search-field') do %>
            <%= label_tag(:term, "Search for:", :class => '_is-visually-hidden') %>
            <%= text_field_tag(:term, params[:term], :placeholder => 'Enter keyword here') %>
            <%= button_tag(:type => 'submit', :name => nil) do %>
            <svg class="icon">
                <use xlink:href="#icon-search-finmark"></use>
            </svg>
            <% end %>
            <% end %>
        </div>
    </div>

    <div class="wrapper">
        <div class="c-home-intro-hero-container">
            <div class="c-home-intro-hero-row">
                <div>
                     <div class="c-home-intro-hero-content">
                        <h1 class="-white"><span style="color: #0098ae">2020 </span> <span>Annual Report</span></h1>
                        <p style="color: #ffffff">While we continue to focus on inclusive development of financial markets, we expanded our strategies to include a more direct focus on real economy impacts with Financial Inclusion 2.0</p>
                    </div>

                    <br><br>
                    <a class="c-button" style="background-color: #0098ae; color: #ffffff" href="https://finmark.org.za/system/documents/files/000/000/296/original/FMT_2020_Annual_Report.pdf?1614067524" target="_blank">View Annual Report</a>
                    <br><br>
                    <hr>
                     <br><br>
                    <h3 class="-white">View content by:</h3>

                    <%= form_tag(insights_filter_index_path('all'), method: 'get', class: 'c-home-intro-hero-dropdowns') do %>
                      <div class="c-home-intro-hero-dropdown c-home-intro-hero-dropdown-topic">
                        <%= label_tag :topics, 'Topics', :class => '_is-visually-hidden' %>
                        <%= select_tag(:topics, options_for_select(@topics.collect { |c| [c.name, c.slug] }, params[:topics]), { include_blank: 'Select your topic' }) %>
                        <div class="c-home-intro-hero-dropdown-icon">
                          <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                        </div>
                      </div>
                      <div class="c-home-intro-hero-dropdown c-home-intro-hero-dropdown-location">
                          <%= label_tag :locations, 'Locations', :class => '_is-visually-hidden' %>
                          <%= select_tag(:locations, options_for_select(@countries.all.collect { |c| [c.name, c.iso] }, params[:locations]), { include_blank: 'Select your location' }) %>
                          <div class="c-home-intro-hero-dropdown-icon">
                            <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                          </div>
                      </div>
                      <div class="c-home-intro-hero-submit-button" >

                        <%= button_tag('Apply', type: :submit, readonly: true, class: 'c-button', style: 'background-color: #203366; color: #ffffff' )  %>
                      </div>
                    <% end %>

                    <div class="c-home-intro-hero-caption">
                        <p>The websites content will be changed based on your selection</p>
                    </div>
                </div>




                <div class="c-home-intro-hero-links">
                <div class="c-home-intro-hero-content">
                 <h1 class="-white">Our work</h1>
                   <p style="color: #ffffff; text-align:left; font-size: 12px; font-weight: 400;  padding-bottom: 0px; padding-top: 0px ">Our work seeks to further financial and economic inclusion for the poor of the SADC region. The work is implemented in individual countries as well as on a regional basis. </p>
                 </div>





                    <h5 class="title -regular"  style="font-size: 20px; font-weight: 700;"><%= link_to 'Programmes', initiatives_path, :class => '-white' %></h5>
                    <ul>
                      <% @featured_tags.each_with_index do |tag, i| %>
                        <li><%= link_to initiatives_filter_index_path(tag.slug) do %><span>• </span><%=tag.title %><% end %></li>
                      <% end %>
                    </ul>
                    <h5 class="title -regular"  style="font-size: 20px; font-weight: 700;"><%= link_to 'Data for financial markets', data_for_financial_markets_path, :class => '-white' %></h5>
                    <ul>
                      <% @featured_data.each_with_index do |(anchor, name), i| %>
                        <li><%= link_to data_for_financial_markets_path(:anchor => anchor), data: { turbolinks: false } do %><span>• </span><%=name %><% end %></li>
                      <% end %>

                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>
