<% title 'Welcome to FinMark Trust' %>
<% - description = content_for?(:description) ? yield(:description) : 'i2i is a facility established by FinMark Trust and Cenfri to respond to the growing divide between the data available for policy and product design and the ability of financial services providers, policy makers and financial intermediaries to collect, make sense of and embed this data in their decision making.' %>

<% content_for :media_metas do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@i2ifacility" />
  <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
<% end %>

<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content">
      <%= render partial: 'homepage/intro_hero' %>
      <%-# render partial: 'homepage/cover_slider' -%>
    </div>
  </div>
  <div class="l-content">
    <div class="l-featured-insights">
      <div class="wrapper">
        <h2 class="title heading -medium -center -blue -divider">News and insights</h2>
        <div class="row">
          <%= render partial: 'shared/cards', locals: { insights: @insights }%>
        </div>
        <%-#<div class="btn-container"><%= link_to 'See more', insights_path, class: 'c-button -sea -big' % ></div>-%>
      </div>
    </div>
    <div class="l-dataportal-resume">
      <div class="wrapper">
        <h2 class="title -big -center -light -divider">Data for the Financial Markets</h2>
        <div class="row">
          <div class="stats-list">
              <div class="column grid-s-6 grid-m-3">
                <div class="stats-item">
                  <%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique id justo eget rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <a href="#" class="stats-link">Read more</a>
                </div>
              </div>
              <div class="column grid-s-6 grid-m-3">
                <div class="stats-item">
                  <%= image_tag '/images/logos/fmt-analytics.svg', :width => '217', :alt => 'FMT Analytics' %>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique id justo eget rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <a href="#" class="stats-link">Read more</a>
                </div>
              </div>
              <div class="column grid-s-6 grid-m-3">
                <div class="stats-item">
                  <%= image_tag '/images/logos/fmt-mobile.svg', :width => '210', :alt => 'FMT Mobile' %>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique id justo eget rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <a href="#" class="stats-link">Read more</a>
                </div>
              </div>
              <div class="column grid-s-6 grid-m-3">
                <div class="stats-item">
                  <%= image_tag '/images/logos/fmt-portal.svg', :width => '182', :alt => 'FMT Portal' %>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique id justo eget rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                  <a href="#" class="stats-link">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-twitter">
      <div class="wrapper">
        <header>
          <h2 class="title -medium -center -blue -divider">FMT on Twitter</h2>
        </header>
        <%= render partial: 'homepage/twitter_slider' %>
      </div>
    </div>
  </div>
</div>
