<% title 'Welcome to FinMark Trust' %>
<% - description = content_for?(:description) ? yield(:description) : '
FinMark Trust (FMT) is an independent trust established in 2002 with the objective of making markets work for the poor. Initial core funding was provided by UKaid from the Department for International Development (DFID) through its Southern Africa office.' %>

<% content_for :media_metas do %>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Finmarktrust" />
<meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'FinMark Trust' %>" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'FinMark Trust' %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
<meta property="og:url" content="<%= request.original_url %>" />
<% end %>

<div class="l-homepage">
    <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
        <div class="nav">
            <div class="wrapper">
                <%= render partial: 'shared/header', locals: { isCover: true } %>
            </div>
        </div>
        <div class="fixed-nav js-fixed-nav">
            <div class="wrapper">
                <%= render partial: 'shared/header' , locals: { isFixed: true } %>
            </div>
        </div>
        <div class="content">
            <%= render partial: 'homepage/intro_hero' %>
            <%-# render partial: 'homepage/cover_slider' -%>
        </div>
    </div>
    <div class="l-content">
        <div class="l-featured-insights">
            <div class="wrapper">
                <h2 class="title heading -medium -center -blue -divider">Latest content</h2>

                <div class="row">
                    <%= render partial: 'shared/cards', locals: { insights: @insights }%>
                </div>

                <div align="center" class="grid-footer" id="show-more" >
                <a data-turbolinks="true" class="c-button -big -sea" href="/knowledge-hub/all?offset=30">Show more</a>
              </div>


                <%-#<div class="btn-container"><%= link_to 'See more', insights_path, class: 'c-button -sea -big' % ></div>-%>
            </div>
        </div>




       <div class="l-dataportal-resume" style="background-color: #0097AE">
            <div class="wrapper">
                <h2 class="title -big -center -light -divider-">Programmes</h2>
                <div class="row">
                    <div class="stats-list">
                        <div class="column grid-4 grid-l-2-3-4">
                            <div class="stats-item">
                                <b style="font-size: 18px; font-weight: 700;">Agricultural Value Chains</b><br>
                                <p>By promoting greater access to financial services we focus on ensuring that small scale farmers are empowered to participate in the agricultural economy. </p>


<a href="/our-work/agricultural-value-chains">
           <b class="stats-link" >Read more</b>
				  </a>


                            </div>
                        </div>
                        <div class="column grid-s-4 grid-l-2-3-4">
                            <div class="stats-item">
                               <b style="font-size: 18px; font-weight: 700;">Digital Financial Services</b><br>
                                <p>The positive impact of digital financial services on the poor is well documented globally. These services provide efficient, cost effective and more accessible solutions to accessing formal financial services.</p>

<a href="/our-work/digital-financial-services">
           <b class="stats-link" >Read more</b>
				  </a>


                            </div>
                        </div>
                        <div class="column grid-s-4 grid-l-2-3-4">
                            <div class="stats-item">
                                 <b style="font-size: 18px; font-weight: 700;">Innovation <br><br></b><br>
                                <p>FMT leverages its expertise in financial and economic inclusion to define problem statements focused on the poor and surface and incubate African developed FinTechs within the SADC region.</p>
           <a href="/our-work/innovation">
           <b class="stats-link" >Read more</b>
				  </a>


                            </div>
                        </div>
                        <div class="column grid-s-4 grid-l-2-3-4">
                            <div class="stats-item">
                                 <b style="font-size: 18px; font-weight: 700;">MSMEs <br><br> </b><br>
                                <p>Through the MSME MAP (Making Access Possible) framework, an evidence-based strategy to support MSMEs is developed for different countries. The process identifies dominant sectors, sizes the value of the sector, assesses blockages to growth for the MSMEs in the sectors.</p>
      <a href="/our-work/msmes">
           <b class="stats-link" >Read more</b>
				  </a>


                            </div>
                        </div>
                        <div class="column grid-s-4 grid-l-2-3-4">
                            <div class="stats-item">
                                  <b style="font-size: 18px; font-weight: 700;">Policy and Regulation</b><br>
                                <p>A well-developed policy and regulatory environment ensures the market operates efficiently and at scale, whilst also taking into account the needs of all of the stakeholders that participate in it – both consumers and providers.</p>
                  <a href="/our-work/policy-and-regulation">
           <b class="stats-link" >Read more</b>
				  </a>
                            </div>
                        </div>

                          <div class="column grid-s-4 grid-l-2-3-4">
                            <div class="stats-item">
                                 <b style="font-size: 18px; font-weight: 700;">Women and Youth</b><br>
                                <p>Gender equality is fundamental to achieving economic growth and poverty reduction. FMT is committed to accelerating efforts towards the gender equality and empowerment of women.</p>
         <a href="/our-work/women-and-youth">
           <b class="stats-link" >Read more</b>
				  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="l-dataportal-resume">
            <div class="wrapper">
                <h2 class="title -big -center -light -divider">Data for financial markets</h2>
                <div class="row">
                    <div class="stats-list">
                        <div class="column grid-s-6 grid-l-2-3">
                            <div class="stats-item">
                                <%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
                                <p>The FinScope Consumer Survey is uniquely aimed at increasing understanding of the informal financial product/service market. </p>
                                <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>
                            </div>
                        </div>
                        <div class="column grid-s-6 grid-l-2-3">
                            <div class="stats-item">
                                <%= image_tag '/images/logos/fmt-analytics.svg', :width => '217', :alt => 'FMT Analytics' %>
                                <p>Gathering data is the easy part, knowing what to do with it more complex. Our team of researchers, statisticians, and data scientist can analyse FinScope or Big Data to generate evidence and insights.</p>
                                <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>
                            </div>
                        </div>
                        <div class="column grid-s-6 grid-l-2-3">
                            <div class="stats-item">
                                <%= image_tag '/images/logos/fmt-mobile.svg', :width => '210', :alt => 'FMT Mobile' %>
                                <p>The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected.</p>
                                <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>
                            </div>
                        </div>
                        <div class="column grid-s-6 grid-l-2-3">
                            <div class="stats-item">
                                <%= image_tag '/images/logos/fmt-portal.svg', :width => '160', :alt => 'FMT Portal' %>
                                <p>The data portal hosts multiple public datatypes and analytical tools that allow stakeholders to compare indicators across countries and jurisdictions. </p>
                                <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>
                            </div>
                        </div>
                        <div class="column grid-s-6 grid-l-2-3">
                            <div class="stats-item">
                                <%= image_tag '/images/logos/fmt-geospatial.svg', :width => '236', :alt => 'FMT Geospatial' %>
                                <p>This geospatial offering supports the centering of financial infrastructure around consumers, as well as using location intelligence to inform key decision areas.</p>
                                <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-home-sadc">
            <div class="wrapper">
                <div class="l-home-sadc-row">
                    <div class="l-home-sadc-logo">
                        <%= image_tag '/images/logos/sadc.svg', :width => '154', :alt => 'SADC' %>
                    </div>
                    <div>
                        <h2 class="title heading -medium">Southern African Development Community</h3>
                        <p>View the SADC national survey dashboard that comprises an aggregated 14 SADC countries, and can be customised and analysed across more than 26 indicators.</p>
                        <%= link_to 'View dashboard', regions_path('SADC'), :class => 'c-button' %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-twitter">
        <div class="wrapper">
            <header>
                <h2 class="title -medium -center -blue -divider">FMT on Twitter</h2>
            </header>
            <%= render partial: 'homepage/twitter_slider' %>
        </div>
    </div>
</div>
</div>
