<% title 'About' %>

<% content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<% end %>

<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">About FinMark</h1>
                <p class="subtitle">
                  Learn more about the team and values that drive our work.
                  <a href="#background" class="js-anchor">Background</a>, <a href="#about-us" class="js-anchor">about us</a>, <a href="#vision-mission" class="js-anchor">i2i vision and mission</a>, <a href="#our-work" class="js-anchor">our work</a>, <a href="#team" class="js-anchor">team members</a>, <a href="#focus-countries" class="js-anchor">focus countries</a>, <a href="#advisor" class="js-anchor">advisory panel</a> and
                <a href="#contact" class="js-anchor">contact</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">About us</h3>
          <p>
FinMark Trust is an independent non-profit trust whose purpose is ‘Making financial markets work for the poor, by promoting financial inclusion and regional financial integration’. We pursue our core objective of making financial markets work for the poor through two principle programmes. The first is through the creation and analysis of financial services consumer data to provide in depth insights on both served and unserved consumers across the developing world. The second is through systematic financial sector inclusion and deepening programs to overcome regulatory, supplier and other market level barriers hampering the effective provision of services. Together, these programmes unlock financial inclusion and sector development through a symbiotic relationship between rigorous data collection and research activities. Our work can be found in South Africa, throughout the SADC region and the global arena.
          </p>
 </div>
 </div>

    <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">Global Footprint</h3>
<img class="picture" src="<%= asset_path('about/Global-Footprint.png')%>" >

  <p>
          With our footprint established in South Africa and the SADC region, FinMark Trust is also focusing on work in the global market to strengthen our understanding and share our approach.

          </p>


        </div>

      </div>
    </div>
    <div id="team" class="l-section -team">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Our Team</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the people that drive our work and promote our values.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @teamMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>"  tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="focus-countries" class="l-section -countries">
    <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Introductory video</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
An introduction to FinMark Trust and the impactful work it has done through Financial Inclusion in making financial markets work for the poor. <br>   <br>          </p>
            </div>
          </div>

<iframe width="100%" height="400" src="https://www.youtube.com/embed/4IL_xqU9QaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div id="advisor" class="l-section -advisory">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Our Trustees</h2>
            </div>

          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @advisoryMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>" tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="l-section -contact">
      <div class="l-section-description">
        <div class="grid-m-8">
          <h2 class="title -dark -big -center">Contact</h2>
        </div>
        <div class="grid-m-6">
          <p class="section-description">
            Please contact us at the details below if you have any questions about i2i and our work.
          </p>
        </div>
      </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-addresses">
              <div class="grid-s-12 grid-l-8">
                <div class="row">
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.com/maps/place/FinMark+Trust/@-25.995891,28.133023,17z/data=!4m12!1m6!3m5!1s0x1e956e3ecd3423af:0xadad49c93f4b94de!2sFinMark+Trust!8m2!3d-25.995891!4d28.133023!3m4!1s0x1e956e3ecd3423af:0xadad49c93f4b94de!8m2!3d-25.995891!4d28.133023?hl=en" rel="noopener noreferrer" target="_blank" alt="FinMark Trust map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-finmark.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium"><a href="https://finmark.org.za" target="_blank">FinMark Trust</a></h3>
                        <span class="address-field">Sanofi House, Second Floor</span>
                        <span class="address-field">44 Grand Central Office Park</span>
                        <span class="address-field">2 Bond Street</span>
                        <span class="address-field">Grand Central Extension 1</span>
                        <span class="address-field">Midrand</span>
                        <a class="address-field" href="tel:+27 11 315 9197" alt="FinMark Trust contact phone">+27 11 315 9197</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %></a>
                      </div>
                    </address>
                  </div>
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/99+Jip+De+Jager+Dr,+De+Bron,+Cape+Town,+7530,+Sud%C3%A1frica/@-33.8558211,18.6252073,18.37z/data=!4m5!3m4!1s0x1dcc57517431becf:0xb602e69f03fc6860!8m2!3d-33.8554596!4d18.6256236" rel="noopener noreferrer" target="_blank" alt="Cenfri map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-cenfri.png')%>)"></div>
                      </a>
                      <div class="info">
						  <h3 class="title -dark -medium"><a href="https://cenfri.org/" target="_blank">Cenfri</a></h3>
                        <span class="address-field">The Vineyards Office Estate</span>
                        <span class="address-field">Farm</span>
                        <span class="address-field">Farm 1, Block A Building</span>
                        <span class="address-field">99 Jip de Jager Drive</span>
                        <span class="address-field">Bellville, Cape Town</span>
                        <a class="address-field" href="tel:+27 21 913 9510" alt="Cenfri contact phone">+27 21 913 9510</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %></a>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-form-contact">
              <div class="grid-s-12 grid-m-8">
                <%= simple_form_for @contact, url: about_form_contacts_path, html: { class: 'c-form contact-form' }, defaults: { wrapper_html: { class: 'custom-row' } }, remote: true do |f| %>
                  <div id="messages"></div>
                  <%= f.error :base %>
                  <%= f.input :first_name, required: true %>
                  <%= f.input :last_name, required: true %>
                  <%= f.input :email, required: true %>
                  <%= f.input :title %>
                  <%= f.input :company %>
                  <%= f.input :country, as: :string %>
                  <%= f.input :message, required: true %>
                  <div class="actions">
                    <%= recaptcha_tags if Rails.env == 'production' %>
                    <%= f.button :submit, 'Send', class: 'primary-btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

