<% title 'About' %>

<% content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<% end %>

<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">About FinMark</h1>
                <p class="subtitle">
                 Learn more about the team and values that drive our work.
                  <a href="#about-us" class="js-anchor">About FMT</a>, <a href="#focus-countries" class="js-anchor">Introductory video
</a>, <a href="#global" class="js-anchor">Global footprint
</a>, <a href="#team" class="js-anchor">Team members</a>, <a href="#advisor" class="js-anchor">Trustees</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h1 class="title -highlight -huge">About <span style="color: #ffffff">FinMark Trust</span></h1>
          <p>
FinMark Trust is an independent non-profit trust with the purpose of ‘Making financial markets work for the poor, by promoting financial inclusion and regional financial integration. We pursue our core objective of making financial markets work for the poor through two principal programmes. The first happens through the creation and analysis of financial services demand side data to provide in-depth insights on both served and unserved consumers across the developing world. The second is through systematic financial sector inclusion and deepening programmes to overcome regulatory, supplier, and other market level barriers hampering the effective provision of services.
</p>

         <p>
Through a symbiotic relationship between rigorous data collection and research activities, these programmes unlock financial and economic inclusion. Our work in data supports a global agenda, with focus being placed in the SADC region on the programmatic work.
</p>

         <p>
FMT's mission of making financial markets work for the poor extends to ensuring economic inclusivity and linking financial inclusion to the real economy. This renewed focus of building inclusive financial sectors for individuals, MSME’s and small-scale farmers is robust and supported within the FMT development framework.
</p>

         <p>
Regionally, FMT works closely with key stakeholders which include the Southern African Development Community (SADC), SADC Banking Association (SADC BA) and the Committee of Central Bank Governors in SADC (CCBG). At country level engagement with key partners at include Central Banks, Ministries of Finance, Ministries of SMME, Treasury Departments and National Statistics Officers. </p>
			<br>
		<img class="picture" width="100%" src="<%= asset_path('about/FMT_staff.jpg')%>" >
				<br>

 </div>
 </div>

 </div>
 </div>
</div>




  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="focus-countries" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">Introductory video</h3>
          <p>
An introduction to FinMark Trust and the impactful work it has done through Financial Inclusion in making financial markets work for the poor.
          </p>
			<br>
		<iframe width="100%" height="500px" src="https://www.youtube.com/embed/4IL_xqU9QaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				<br>

 </div>
 </div>

	 </div>
 </div>
	</div>




  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="global" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">Global Footprint</h3>
          <p>
FMT is anchored in the SADC region. Our work in data supports a global agenda, with focus being placed in the region on the programmatic work.
          </p>
			<br>
	<img class="picture" width="100%"  src="<%= asset_path('about/Global-Footprint.png')%>" >
				<br>

 </div>
 </div>


 </div>
 </div>
</div>





    <div id="team" class="l-section -team">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Team members</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the people that drive our work and promote our values.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @teamMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>"  tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div id="advisor" class="l-section -advisory">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Our Trustees</h2>
            </div>

          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @advisoryMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>" tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>






    </div>
  </div>
</div>

