<% title 'Contact FMT' %>

<% content_for :head do %>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<% end %>

<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">Contact FinMark Trust</h1>
                <p class="subtitle">
                  Get in touch with us to exchange ideas or if you would like to work with us. <a href="#Contact" class="js-anchor">contact</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





    <div id="contact" class="l-section -contact">
      <div class="l-section-description">
        <div class="grid-m-8">
          <h2 class="title -dark -big -center">Contact</h2>
        </div>
        <div class="grid-m-6">
          <p class="section-description">
            Please contact us
          </p>
        </div>
      </div>

        <div class="row">
          <div class="grid-s-12">
            <div class="l-form-contact">
              <div class="grid-s-12 grid-m-8">
                <%= simple_form_for @contact, url: about_form_contacts_path, html: { class: 'c-form contact-form' }, defaults: { wrapper_html: { class: 'custom-row' } }, remote: true do |f| %>
                  <div id="messages"></div>
                  <%= f.error :base %>
                  <%= f.input :first_name, required: true %>
                  <%= f.input :last_name, required: true %>
                  <%= f.input :email, required: true %>
                  <%= f.input :title %>
                  <%= f.input :company %>
                  <%= f.input :country, as: :string %>
                  <%= f.input :message, required: true %>
                  <div class="actions">
                    <%= recaptcha_tags if Rails.env == 'production' %>
                    <%= f.button :submit, 'Send', class: 'primary-btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>

