<% title 'Data for Financial Markets' %>



<div class="l-about">
    <div class="l-intro js-hero">
        <div class="nav">
            <div class="wrapper">
                <%= render partial: 'shared/header', locals: { isCover: true } %>
            </div>
        </div>
        <div class="fixed-nav js-fixed-nav">
            <div class="wrapper">
                <%= render partial: 'shared/header', locals: { isFixed: true } %>
            </div>
        </div>
        <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
            <div class="l-title">
                <div class="wrapper">
                    <div class="row">
                        <div class="c-hero">
                            <div class="grid-l-6">
                            <br>
                                <h1 class="title -highlight -huge">Data for Financial Markets</h1>
                                <p class="subtitle">
									Learn more about our Data for Financial Markets to address new data opportunities and challenges within Financial inclusion.
									<a href="#consumer" class="js-anchor">FinScope Consumer</a>,
									<a href="#msme" class="js-anchor">FinScope MSME</a>,
									<a href="#mobile" class="js-anchor">Mobile</a>,
										<a href="#analytics" class="js-anchor">Analytics</a>,
										<a href="#portal" class="js-anchor">Portal</a>,
											<a href="#geospatial" class="js-anchor">Geospatial</a>



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="l-content">
        <div class="wrapper">
            <div class="l-section -insights">
                <div id="about-us" class="c-card-highlight -about -reverse">
                    <div class="content">
						<%= image_tag '/images/logos/Data_hero.jpg', :width => '90%', :align => 'center',  :alt => 'DFM' %>
<br><br>
                        <h3 class="title -dark -big">Data for Financial Markets</h3>



                        <p>
                            Data is the new oil. Big data, small data, structured data, unstructured data, demand side data, supply side data… we live in a data rich world. With this data ecosystem, being so abundant and our research questions more complex than ever before, we can no longer only rely on limited traditional Financial Inclusion (FI) data solutions. Not only is there now a plethora of new data sources, but traditional data collection methods are becoming prohibitively expensive along with serious questions being raised about the quality and relevance of this research.
</p>
<p>
                            The Data for Financial Markets programme was established to address these new data opportunities and challenges. The programme houses our new and improved gold standard FinScope Consumer & MSME survey offering, along with a suite of new products that include a low cost mobile data collection capability, Geospatial (GIS) solutions, a data portal housing numerous FI data sets and an Analytics capability than can generate insights from all data sources, including Big Data.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class="c-footer">
        <div class="footer-header">
            <div class="wrapper">
                <div class="row">
                    <div class="grid-s-12 grid-m-6 footer-header-col-1">
                        <div class="header-item -newsletter js-subscribe">

                          	<%= image_tag '/images/logos/Finscope_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT FinScope' %>
								<br>
							<%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
                            <p class="text -leading">

                           FinScope remains the most comprehensive demand side instrument of its kind, and has to date been conducted in over 30 countries. This places FinMark Trust in a unique position to support countries in SADC, West Africa, Asia and beyond, to understand their demand-side financial inclusion landscape.
                            </p>


<br><br>



           <button class="c-button js-read-more" data-title="FinScope Consumer">Read more</button>

	<!-- FinScope  popup -->

          <div style="display: none;">


            <p>
              An assessment in 2015 of the FinScope product concluded that one of FinScope’s key strength is its intensive local stakeholder engagement process, which ensures local relevance and buy in. The survey’s positioning as the benchmark survey that explores financial inclusion, attitudes, behaviour and demographics comprehensively and rigorously means that it is widely accepted in countries where it is implemented, and its stability and trend-ability over time mean that that stakeholders are keen to use it to track their progress over time.
            </p>

            <p>FinScope is not immune to the changes in the data ecosystem and as such needed to evolve.The new FinScope Consumer and MSME survey has been improved in the following ways:</p>


			   <h4 class="title">New Measurement Frameworks</h4>


			  <p>The world is changing rapidity and our measurement frameworks need to be relevant to the changes in consumer expectations and needs. To this end, the DFM team are continuously developing new measurement frameworks. Some of our newer frameworks are listed below:</p>

            <ul>
              <li>

				  <b>Usage:</b> Increasingly the focus today is on the quality and impact of access, and a broadening of the understanding of the term ‘financial inclusion’. This new module addresses various aspects of product usage and utility of the product to the consumer.

              </li>
              <li>
				  <b>Needs:</b> The needs-based approach to financial inclusion measurement follows a client-centric model recognising that consumers choose financial products and services based on their underlying needs. These needs can be grouped into four (4) main categories: meeting goals, resiliency, liquidity, and transfer of value. The needs are measured through a number of discrete use cases.
              </li>
              <li>

				  <b>Livelihoods:</b> The Livelihood approach aims to derive recommendations that allows a household to enhance its assets and capabilities by being resilient through economic shocks over time. The approach involves the identification of household livelihood and assets, nature and impact of economic shocks that creates vulnerability of households. Coupled with the understanding of financial needs of households, the livelihood approach looks to generate policy interventions that uses financial services and relevant institutional processes to address areas of financial vulnerability that households will face over a period of time.
              </li>
              <li>

				  <b>Informal sector focus:</b> The FinScope Consumer Survey is unique in aiming specifically to increase understanding of the informal financial product/service market.

              </li>
              <li>
				  Our data can be <b>disaggregated</b> by livelihoods, youth, women, rural, poor and informal segments.
              </li>
              <li>
				  <b>UN Sustainable Development Goals (SDG’s)</b> Our data is now able to give insight into some of the SDG’s from a financial inclusion perspective.
              </li>
            </ul>
            <h4 class="title">FinScope Consumer and FinScope SMME provides data:</h4>
             <ul>

			  <li>
				 For official country Financial Inclusion statistics
              </li>

				  <li>
			That supports governments in the development and implementation of national financial policy frameworks and strategies
              </li>

				   <li>
		That helps support national governments by facilitating stakeholder driven financial inclusion programmes and supporting their implementation by conducting financial inclusion diagnostics,
              </li>


				 	   <li>
		Developing country roadmaps and implementation activities
              </li>

				  	   <li>
		Analysis that enables policy makers and financial service providers to better understand the financial needs and behaviours of the poor to enable the provision of suitable quality financial services
              </li>

				 	  	   <li>
		Helps governments play a catalytic role to make financial markets accessible, sustainable and inclusive by promoting and supporting policy and institutional change in the financial sector and policy arena
              </li>



			 	  	   <li>
		That assist governments to monitor how they contribute to the Global Goals (SDG’s) adopted by the UN
              </li>


				  	   <li>
		That assists in holding the financial industry accountable for market development
              </li>

				 <li>
				That is disaggregated by province, sex, age etc. so as to address changing demographics
				  </li>



				 <li>
				That helps connect FI to the real economy
				  </li>

				  <li>
				 To assist MSMEs to be more sustainable and create employment
				 </li>


				  <li>
				That drives the development of the market for MSMEs
				 </li>






            </ul>

          </div>

			<!-- END FinScope  popup -->



                        </div>
                    </div>

                    <div class="grid-s-12 grid-m-6">
                        <div class="header-item -contact-us">
                           	<%= image_tag '/images/logos/Finscope_msme.svg', :width => '90%', :align => 'center',  :alt => ' FinScope MSME' %>
								<br>
                            <%= image_tag '/images/logos/fmt-MSME.svg', :width => '222', :alt => 'FMT FinScope' %>
                            <p class="text -leading">
                                FinScope MSME is a probability survey of MSMEs. MSMEs are crucial entities for economic growth and employment creation across the developing world. To expand the role that the financial sector and its participants can play in SMMEs, FinScope MSME was developed. It has since been operationalised in 8 countries, and like its sister entity, FinScope Consumer, is used by a wide variety of stakeholders to support their strategies vis-à-vis the financial services market for MSMEs.
                          </p>
                            <br /> <br />




           <button class="c-button js-read-more" data-title="FinScope MSME">Read more</button>

					<!-- FinScope MSME popup -->

			          <div style="display: none;">


            <p>
FinScope MSME is a probability survey of MSMEs. MSMEs are crucial entities for economic growth and employment creation across the developing world. To expand the role that the financial sector and its participants can play in SMMEs, FinScope MSME was developed. It has since been operationalised in 8 countries, and like its sister entity, FinScope Consumer, is used by a wide variety of stakeholders to support their strategies vis-à-vis the financial services market for MSMEs.
            </p>


          </div>
				<!-- END FinScope MSME popup -->





                      </div>
                    </div>
                </div>
            </div>
        </div>
 </footer>




        <div class="l-content">
            <div class="wrapper">
                <div class="l-section -insights">
                    <div id="about-us" class="c-card-highlight -about -reverse">
                        <div class="content">
                             	<%= image_tag '/images/logos/Mobile_hero.svg', :width => '90%', :align => 'center',  :alt => ' mobile' %>
								<br>
							<%= image_tag '/images/logos/DFM Mobile_color.svg', :width => '222', :alt => 'FMT Mobile' %>
                            <p>
                                The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected. Mobile surveys aren’t going to replace traditional Demand Side Surveys (DSS) any time soon, but they do provide us with options that allow us to track important market metrics regularly and understand emerging phenomena as and when they start developing. These mobile generated insights can then be explored further using tailored DSS surveys or experimental methods.
                            </p>

								<br><br>
							   <button class="c-button js-read-more" data-title="Mobile">Read more</button>

					<!--  Mobile popup -->

			          <div style="display: none;">


            <p>
The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected. Mobile surveys aren’t going to replace traditional Demand Side Surveys (DSS) any time soon, but they do provide us with options that allow us to track important market metrics regularly and understand emerging phenomena as and when they start developing. These mobile generated insights can then be explored further using tailored DSS surveys or experimental methods.
            </p>


			      <p>
Collecting financial inclusion data through mobile phones has the following benefits:
            </p>


						  <ul>
							  <li>Allows for more sustainable research programmes (i.e. reduced cost)</li>
						    <li>Quicker data and indicator cycles</li>
						   <li>Interim measurement between large FI surveys and for M&E tracking</li>
							   <li>More relevant mode for some target markets (youth)</li>
							    <li>Produces complimentary data to FinScopes and Supply Side data, not a replacement</li>
							     <li>Modularised measurement around specific themes</li>
							   <li>Delve into specific topics (DFS, usage, etc.)</li>
							  <li>Early insight into emerging trends</li>

						  </ul>


						  <p>The DFM programme has successfully used mobile surveys in a number of countries, including Zimbabwe, Tanzania, Uganda and South Africa to understand particular financial services behavior. During 2018 data will be collected through mobile devices in 8 more countries. Our mobile offering includes data collection via SMS, USSD, web and Computer Aided Telephone Interviews (CATI).</p>



          </div>
				<!-- END Mobile  popup -->



                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="l-content">
            <div class="wrapper">
                <div class="l-section -insights">
                    <div id="about-us" class="c-card-highlight -about -reverse">
                        <div class="content">
                            <%= image_tag '/images/logos/Analytics_hero.svg', :width => '90%', :align => 'center',  :alt => ' mobile' %>
								<br>
							<%= image_tag '/images/logos/DFM Analytics_colour.svg', :width => '222', :alt => 'FMT Analytics' %>
                            <p>
                                Gathering data is the easy part, knowing what to do with it is difficult. Our team of researchers, statisticians and data scientist can analyses FinScope or Big Data to generate evidence and insights across core themes such as women, the informal sector, digital financial services, product usage, financial needs and livelihoods. Our team will maximise the investment made in your data by exploring it through new analytical lenses giving you fresh perspectives on how best to serve the poor.
                            </p>

							<br><br>






           <button class="c-button js-read-more" data-title="Analytics">Read more</button>

					<!-- Analytics popup -->

			          <div style="display: none;">


            <p>
Gathering data is the easy part, knowing what to do with it is difficult. Our team of researchers, statisticians and data scientist can analyses FinScope or Big Data to generate evidence and insights across core themes such as women, the informal sector, digital financial services, product usage, financial needs and livelihoods. Our team will maximise the investment made in your data by exploring it through new analytical lenses giving you fresh perspectives on how best to serve the poor.
The following solutions are offered within the Analytics theme:
            </p>


						  <ul>

							  <li>Segmentation and target market analysis & reporting</li>
							  <li>Analysis and insights from transactional data</li>
							  <li>Analysis and insights from alternative data (e.g. social media data, sentiment analysis)</li>
							  <li>Technical assistance and capacity building to countries who are collecting supply side data</li>

							  <li>Creation and maintenance of supply side dashboards</li>


						  </ul>

          </div>
				<!-- END Analytics popup -->




                        </div>
                    </div>
                </div>
            </div>
        </div>




 <footer class="c-footer">
        <div class="footer-header">
            <div class="wrapper">
                <div class="row">
                    <div class="grid-s-12 grid-m-6 footer-header-col-1">
                        <div class="header-item -newsletter js-subscribe">
                         	<%= image_tag '/images/logos/portal_hero.svg', :width => '90%', :align => 'center',  :alt => ' FMT portal' %>
								<br>
							<%= image_tag '/images/logos/DFM Portal_white.svg', :width => '222', :alt => 'FMT Portal' %>
                            <p class="text -leading">

                              The portal currently hosts multiple data types of data and analytical tools, including:

Nationally representative survey datasets for over 30 countries, MSME data, GIS location data, which is combined contextual GIS data layers, Financial Diaries and Mobile survey data.
Users can visualise data and do in browser analytics.
                            </p>

                            <br /> <br />
                            <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>

                        </div>
                    </div>

                    <div class="grid-s-12 grid-m-6">
                        <div class="header-item -contact-us">
                           <%= image_tag '/images/logos/GEO_hero.svg', :width => '90%', :align => 'center',  :alt => ' FMT geospatial' %>
								<br>
                            <%= image_tag '/images/logos/DFM Geospatial_white.svg', :width => '222', :alt => 'FMT Geospatial' %>
                            <p class="text -leading">
                         At its core, this geospatial offering supports the centering of financial infrastructure around consumers, as well as using location intelligence to inform key decision areas such as KPI measurement, product design and implementation, strategic investments, risk management and consumer protection.
                          </p>
                            <br /> <br />
                            <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>

                      </div>
                    </div>
                </div>
            </div>
        </div>
 </footer>




	     <div class="l-content">
            <div class="wrapper">
                <div class="l-section -insights">
                    <div id="about-us" class="c-card-highlight -about -reverse">
                        <div class="content">
                            <h3 id="contact"  class="title -dark -big">Contact DFM</h3>

							<p>Feel free to contact us for more information on our Data for Financial Markets suite, these include;  FinScope Consumer & MSME surveys,  low cost mobile data collection, Geospatial (GIS) solutions, data portal housing numerous FI data sets and our Analytics capability that can generate insights from all data sources.
</p>
							<hr>
              <br>


                       <h3>Grant Robertson</h3>
						<p>
					  <i>Executive Manager Analytics and Data</i>
<br><br>
							<b>Tel:</b> +27 (0) 11 315 9197<br>
                            <b>Email:</b> <a href="mailto:grantr@finmark.org.za">grantr@finmark.org.za</a>
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





</div>
