<% title 'Data for Financial Markets' %>



<div class="l-about">
    <div class="l-intro js-hero">
        <div class="nav">
            <div class="wrapper">
                <%= render partial: 'shared/header', locals: { isCover: true } %>
            </div>
        </div>
        <div class="fixed-nav js-fixed-nav">
            <div class="wrapper">
                <%= render partial: 'shared/header', locals: { isFixed: true } %>
            </div>
        </div>
        <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
            <div class="l-title">
                <div class="wrapper">
                    <div class="row">
                        <div class="c-hero">
                            <div class="grid-l-6">
                            <br>
                                <h1 class="title -highlight -huge">Data for Financial Markets</h1>
                                <p class="subtitle">
									Learn more about our Data for Financial Markets to address new data opportunities and challenges within Financial inclusion.
									<a href="#consumer" class="js-anchor">FinScope Consumer</a>,
									<a href="#msme" class="js-anchor">FinScope MSME</a>,
									<a href="#mobile" class="js-anchor">Mobile</a>,
										<a href="#analytics" class="js-anchor">Analytics</a>,
										<a href="#portal" class="js-anchor">Portal</a>,
											<a href="#geospatial" class="js-anchor">Geospatial</a>



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="l-content">
        <div class="wrapper">
            <div class="l-section -insights">
                <div id="about-us" class="c-card-highlight -about -reverse">
                    <div class="content">
						<%= image_tag '/images/logos/Data_hero.jpg', :width => '80%', :align => 'center',  :alt => 'DFM' %>
<br><br>
                        <h3 class="title -dark -big">Data for Financial Markets</h3>



                        <p>
                            Data is the new oil. Big data, small data, structured data, unstructured data, demand side data, supply side data… we live in a data rich world. With this data ecosystem, being so abundant and our research questions more complex than ever before, we can no longer only rely on limited traditional Financial Inclusion (FI) data solutions. Not only is there now a plethora of new data sources, but traditional data collection methods are becoming prohibitively expensive along with serious questions being raised about the quality and relevance of this research.
</p>
<p>
                            The DATA FOR FINANCIAL MARKETS programme was established to address these new data opportunities and challenges. The programme houses our new and improved gold standard FinScope Consumer & MSME survey offering, along with a suite of new products that include a low cost mobile data collection capability, Geospatial (GIS) solutions, a data portal housing numerous FI data sets and an Analytics capability than can generate insights from all data sources, including Big Data.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class="c-footer">
        <div class="footer-header">
            <div class="wrapper">
                <div class="row">
                    <div class="grid-s-12 grid-m-6 footer-header-col-1">
                        <div class="header-item -newsletter js-subscribe">
                          <h2 id="consumer" class="title -big">FinScope Consumer</h2>
							<%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
                            <p class="text -leading">

                           FinScope remains the most comprehensive demand side instrument of its kind, and has to date been conducted in over 30 countries. This places FinMark Trust in a unique position to support countries in SADC, West Africa, Asia and beyond, to understand their demand-side financial inclusion landscape.
                            </p>




								<div class="box">
	<a class="button" href="#popup1">Read more</a>
</div>





		<div id="popup1" class="overlay">
	<div class="popup">

		<a class="close" href="#">&times;</a>
		<div class="content">
		      <h4 class="title -leading">Why data?</h4>
            <p>
              Although increasing volumes of data – both internal (e.g. client transactional
              data) and external (e.g. alternative data from social media or geospatial data)
              – are becoming available, we are yet to fully capitalise on the power of that
              data to advance financial sector development and generate better financial
              inclusion and welfare outcomes.
            </p>
            <h4 class="title">How we contribute</h4>
            <p>The initiatives undertaken by i2i include:</p>
            <ul>
              <li>
                <a href="/insights" class="link">
                  Researching how data can drive both client and firm value in
                  the financial sector.
                </a>
              </li>
              <li>
                Offering technical assistance to financial service providers
                who wish to translate data into insights.
              </li>
              <li>
                <a href="/initiatives/financial-services-and-data" class="link">
                  Working to improve data quality by sharing practical
                  information and best practices on data collection and
                  analysis.
                </a>
              </li>
              <li>
                <a href="/data-portal" class="link">
                  Making relevant datasets and tools publicly
                  available through our data portal.
                </a>
              </li>
              <li>
                <a href="/initiatives/measurement-in-financial-inclusion" class="link">
                  Changing the way that financial inclusion is traditionally
                  measured by developing and piloting new measurement
                  frameworks.
                </a>
              </li>
              <li>
                <a href="/initiatives/datahack4fi" class="link">
                  Inspiring young entrepreneurs and developers to harness the
                  power of data. [hyperlink to DataHack4FI]Encouraging partnerships
                  and facilitating networking in four focus countries.
                </a>
              </li>
            </ul>
            <h4 class="title">Who we work with</h4>
            <p>
              We facilitate the data market and bridge the data gap to
              sustainably connect decision-makers with the data they need. We
              accomplish this by building on and showcasing the existing
              knowledge base of financial inclusion data and collaborating with a
              wide range of partners, including, individuals, companies,
              organisations, and other entities that are well-positioned to
              provide high-quality data solutions to financial service providers,
              policymakers, and other financial inclusion actors.
            </p>
            <p>
              Launched in 2015, i2i is jointly hosted by <a
              href="https://cenfri.org/">Cenfri</a> and <a
              href="https://www.finmark.org.za/">FinMark Trust</a> and is funded by the
              <a href="https://www.gatesfoundation.org/">Bill &amp; Melinda Gates
              Foundation</a> in partnership with <a
              href="https://www.mastercardfdn.org/">The MasterCard Foundation</a>.
            </p>

		</div>
	</div>
</div>



                        </div>
                    </div>

                    <div class="grid-s-12 grid-m-6">
                        <div class="header-item -contact-us">
                            <h2 id="msme" class="title -big">FinScope MSME</h2>
                            <%= image_tag '/images/logos/fmt-MSME.svg', :width => '222', :alt => 'FMT FinScope' %>
                            <p class="text -leading">
                                FinScope MSME is a probability survey of MSMEs. MSMEs are crucial entities for economic growth and employment creation across the developing world. To expand the role that the financial sector and its participants can play in SMMEs, FinScope MSME was developed. It has since been operationalised in 8 countries, and like its sister entity, FinScope Consumer, is used by a wide variety of stakeholders to support their strategies vis-à-vis the financial services market for MSMEs.
                          </p>
                            <br /> <br />
                            <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>

                      </div>
                    </div>
                </div>
            </div>
        </div>
 </footer>




        <div class="l-content">
            <div class="wrapper">
                <div class="l-section -insights">
                    <div id="about-us" class="c-card-highlight -about -reverse">
                        <div class="content">
                            <h3 id="mobile" class="title -dark -big">Mobile</h3>
							<%= image_tag '/images/logos/DFM Mobile_color.svg', :width => '222', :alt => 'FMT Mobile' %>
                            <p>
                                The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected. Mobile surveys aren’t going to replace traditional Demand Side Surveys (DSS) any time soon, but they do provide us with options that allow us to track important market metrics regularly and understand emerging phenomena as and when they start developing. These mobile generated insights can then be explored further using tailored DSS surveys or experimental methods.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="l-content">
            <div class="wrapper">
                <div class="l-section -insights">
                    <div id="about-us" class="c-card-highlight -about -reverse">
                        <div class="content">
                            <h3 id="analytics"  class="title -dark -big">Analytics</h3>
							<%= image_tag '/images/logos/DFM Analytics_colour.svg', :width => '222', :alt => 'FMT Analytics' %>
                            <p>
                                Gathering data is the easy part, knowing what to do with it is difficult. Our team of researchers, statisticians and data scientist can analyses FinScope or Big Data to generate evidence and insights across core themes such as women, the informal sector, digital financial services, product usage, financial needs and livelihoods. Our team will maximise the investment made in your data by exploring it through new analytical lenses giving you fresh perspectives on how best to serve the poor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




 <footer class="c-footer">
        <div class="footer-header">
            <div class="wrapper">
                <div class="row">
                    <div class="grid-s-12 grid-m-6 footer-header-col-1">
                        <div class="header-item -newsletter js-subscribe">
                          <h2 id="portal"  class="title -big">Portal</h2>
							<%= image_tag '/images/logos/DFM Portal_white.svg', :width => '222', :alt => 'FMT Portal' %>
                            <p class="text -leading">

                              The portal currently hosts multiple data types of data and analytical tools, including:

Nationally representative survey datasets for over 30 countries, MSME data, GIS location data, which is combined contextual GIS data layers, Financial Diaries and Mobile survey data.
Users can visualise data and do in browser analytics.
                            </p>

                            <br /> <br />
                            <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>

                        </div>
                    </div>

                    <div class="grid-s-12 grid-m-6">
                        <div class="header-item -contact-us">
                            <h2  id="geospatial"  class="title -big">Geospatial</h2>
                            <%= image_tag '/images/logos/DFM Geospatial_white.svg', :width => '222', :alt => 'FMT Geospatial' %>
                            <p class="text -leading">
                         At its core, this geospatial offering supports the centering of financial infrastructure around consumers, as well as using location intelligence to inform key decision areas such as KPI measurement, product design and implementation, strategic investments, risk management and consumer protection.
                          </p>
                            <br /> <br />
                            <%= link_to 'Read more', data_for_financial_markets_path, :class => 'stats-link' %>

                      </div>
                    </div>
                </div>
            </div>
        </div>
 </footer>




</div>
