<% title 'Data for Financial Markets' %>



<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <br>
                <h1 class="title -highlight -huge">Data for Financial Markets</h1>
                <p class="subtitle">
                  Learn more about our Data for Financial Markets to address new data opportunities and challenges within Financial inclusion.
                  <%= link_to "FinScope Consumer", data_for_financial_markets_path(:anchor => "consumer"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "FinScope MSME", data_for_financial_markets_path(:anchor => "msme"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Mobile Phone Surveys", data_for_financial_markets_path(:anchor => "mobile"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Analytics", data_for_financial_markets_path(:anchor => "analytics"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Portal", data_for_financial_markets_path(:anchor => "portal"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Geospatial", data_for_financial_markets_path(:anchor => "geospatial"), class: "js-anchor", data: { turbolinks: false } %>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Data_hero.jpg', :width => '100%', :align => 'center',  :alt => 'DFM' %>
            <br><br>
            <h3 class="title -dark -big">Data for Financial Markets</h3>
            <p>
             Data is the new oil. Big data, small data, structured data, unstructured data, demand side data, supply side data - we live in a data rich world. With this data ecosystem, being so abundant and our research questions more complex than ever before, we can no longer rely only on limited traditional Financial Inclusion (FI) data solutions. A plethora of new data sources is now available.
            </p>
            <p>
             The Data for Financial Markets programme was established to address these new data opportunities and challenges about the quality and relevance of this research. It houses our new and improved gold standard FinScope Consumer and MSME survey offering. A suite of new methodologies, that include a low cost mobile data collection capability, Geospatial solutions, a data portal housing numerous Financial Inclusion data sets and an Analytics capability that can generate insights from all data sources, form a part of this.
            </p>

            <br><br>

            <iframe width="100%" height="500" src="https://www.youtube.com/embed/0fNAvRdccnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



          </div>
        </div>

      </div>
    </div>
  </div>


  <footer class="c-footer">
    <div class="footer-header">
      <div class="wrapper">
        <div class="row">
          <div id="consumer" class="grid-s-12 grid-m-6 footer-header-col-1">
            <div class="header-item -newsletter js-subscribe">

              <%= image_tag '/images/logos/Finscope_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT FinScope' %>
              <br>
              <%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
              <p class="text -leading">
               FinScope Consumer is a probability survey with an end user focus (individual or household) of financial services and products. The FinScope Consumer Survey is uniquely aimed at increasing understanding of the informal financial product/service market. Widely used by both governments, to direct policy development, and financials service providers, to build more relevant and profitable financial products and services.
              </p>


              <br><br>

              <button onclick="window.location.href='/national_surveys'" class="c-button">View FinScope data</button>
              <br>

              <button class="c-button js-read-more" data-title="FinScope Consumer">Read more</button>


              <!-- FinScope  popup -->

              <div style="display: none;">
<p>The FinScope Consumer team offers the following solutions:</p>

                <ul>

<li>National probability financial inclusion surveys</li>
<li>Sub national probability financial inclusion surveys (e.g. provincial/state, city, rural, women, youth)</li>
<li>Technical assistance and quality control to countries that are implementing their own financial inclusion surveys</li>
<li>Capacity building and training for countries launching their first financial inclusion surveys</li>
<li>Bespoke surveys focused on specific issues of relevance to financial inclusion, such as digital financial service, payments, remittances, and</li>
<li>Exploratory qualitative research.</li>



                </ul>
              </div>

              <!-- END FinScope  popup -->
            </div>
          </div>

          <div id="msme" class="grid-s-12 grid-m-6">
            <div class="header-item -contact-us">
              <%= image_tag '/images/logos/Finscope_msme.svg', :width => '90%', :align => 'center',  :alt => 'FinScope MSME' %>
              <br>
              <%= image_tag '/images/logos/fmt-MSME.svg', :width => '222', :alt => 'FinScope MSME' %>
              <p class="text -leading">
               FinScope MSME is a probability survey of MSMEs. They shed light on MSMEs which are crucial entities for economic growth and employment creation across the developing world. FinScope MSME was developed to expand the role that the financial sector and its participants can play in development of MSMEs. Now operationalised in eight countries, it is used by a wide variety of stakeholders, including donors, government departments and regulators in support of their financial services market strategies for MSMEs.
              </p>

              <br><br>
              <button onclick="window.location.href='/data-portal/msm-enterprises'" class="c-button">View FinScope MSME data</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>




  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div id="mobile" class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Mobile_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Mobile' %>
            <br>
            <%= image_tag '/images/logos/DFM Mobile_color.svg', :width => '222', :alt => 'FMT Mobile' %>
            <p>
             The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected. Mobile surveys are not going to replace traditional Demand Side Surveys (DSS) in the near future, but rather provide us with options to track key market metrics regularly and to understand emerging phenomena. Mobile generated insights can then be explored further using tailored DSS surveys or experimental methods.
            </p>

            <br><br>
            <button class="c-button js-read-more" data-title="Mobile">Read more</button>

            <!--  Mobile popup -->

            <div style="display: none;">


              <p>Advantages of Mobile include:</p>

              <ul>
<li>Allows for more sustainable research programmes (i.e. reduced cost)</li>
<li>Quicker data and indicator cycles</li>
<li>Interim measurement between large FI surveys and for M&E tracking</li>
<li>More relevant mode for some target markets (youth)</li>
<li>Produces data complementary to FinScope surveys and Supply Side data, not a replacement</li>
<li>Modularised measurement around specific themes</li>
<li>Delves into specific topics (DFS, usage, etc), and</li>
<li>Early insight into emerging trends.</li>



              </ul>


              <p>The DFM programme has successfully used mobile surveys in a number of countries, including Zimbabwe, Tanzania, Uganda, and South Africa to understand particular financial services behaviour. During 2018 data was collected through mobile devices in eight more countries. Our mobile capabilities include data collection via SMS, USSD, web, and Computer Aided Telephone Interviews (CATI).</p>



            </div>
            <!-- END Mobile  popup -->



          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div id="analytics" class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Analytics_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Analytics' %>
            <br>
            <%= image_tag '/images/logos/DFM Analytics_colour.svg', :width => '222', :alt => 'FMT Analytics' %>
            <p>
              Gathering data is the easy part, knowing what to do with it more complex. Our team of researchers, statisticians, and data scientist can analyse FinScope or Big Data to generate evidence and insights across core themes, such as women, the informal sector, digital financial services, product usage, financial needs, and livelihoods. By exploring data through new analytical lenses, our team maximises the investment made, and provide fresh perspectives on how best to serve the poor.
            </p>

            <br><br>
            <button class="c-button js-read-more" data-title="Analytics">Read more</button>

            <!-- Analytics popup -->

            <div style="display: none;">


              <p>
                The Analytics theme supports financial inclusion efforts through the following activities:
              </p>

              <ul>

 <li>Segmentation, target market analysis and reporting</li>
 <li>Analysis and insights from transactional data</li>
 <li>Analysis and insights from alternative data (eg. social media data, sentiment analysis)</li>
 <li>Technical assistance and capacity building to countries that are collecting supply side data, and</li>
 <li>Creation and maintenance of supply side dashboards.</li>

              </ul>

            </div>
            <!-- END Analytics popup -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="c-footer">
    <div class="footer-header">
      <div class="wrapper">
        <div class="row">
          <div id="portal" class="grid-s-12 grid-m-6 footer-header-col-1">
            <div class="header-item -newsletter js-subscribe">
              <%= image_tag '/images/logos/portal_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Portal' %>
              <br>
              <%= image_tag '/images/logos/DFM Portal_white.svg', :width => '222', :alt => 'FMT Portal' %>
              <p class="text -leading">

              <p>The data portal hosts multiple public datatypes and analytical tools that allow stakeholders to compare indicators across countries and jurisdictions. By gaining a broad overview of the financial market through National Surveys, stakeholders can then have a deeper understanding of how low-income households manage their financial lives using Financial Diaries. Geospatial Data can also be overlaid to learn more about a particular area and explore the MSME sector of a chosen country.
              </p>

              <br /> <br />
              <button onclick="window.location.href='/data-portal'" class="c-button">View data portal</button><br>
              <button class="c-button js-read-more" data-title="Data Portal">Read more</button>



              <!--  Portal popup -->

              <div style="display: none;">

                <p>
                The portal currently hosts multiple data types and analytical tools, including:

                </p>
                <ul>
<li>Nationally representative survey datasets for over 30 countries.</li>
<li>GIS location data, combined contextual GIS data layers for seven countries.
Tools for the generation of headline financial inclusion statistics from the data, and</li>
<li>Visualisation tools to facilitate understanding and analytics.</li>
</ul>

<p>The open data portal leverages our own publicly disseminated data, as well as data from other institutions. Some of these entities include CGAP, MFO, the World Bank, LIFT, the FSD Network, Resource Watch, the United Nations, country level regulatory authorities and GIS data sources.
Our portal is continually evolving as our data and analytics work is conducted in more countries and novel data sources for existing countries are included.
 </p>

              </div>
              <!-- END Geospatial  popup -->

            </div>
          </div>

          <div id="geospatial" class="grid-s-12 grid-m-6">
            <div class="header-item -contact-us">
              <%= image_tag '/images/logos/GEO_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Geospatial' %>
              <br>
              <%= image_tag '/images/logos/DFM Geospatial_white.svg', :width => '222', :alt => 'FMT Geospatial' %>
              <p class="text -leading">
               FMT maps out the financial services and other distribution infrastructure in several of the i2i focus countries. At its core, this geospatial offering supports the location of financial infrastructure around consumers. It also uses location intelligence to inform key decision areas, such as KPI measurement, product design and implementation, strategic investments, risk management, and consumer protection.
              </p>
              <br /> <br />


              <button onclick="window.location.href='/geospatial_data'" class="c-button">View Geospatial data</button>
              <br>

              <button class="c-button js-read-more" data-title="Geospatial">Read more</button>


              <!--  Geospatial popup -->

              <div style="display: none;">


                <p>This is achieved by overlaying GIS information on themes such as:</p>

                <ul>
<li>	Infrastructure information – road networks, financial and other infrastructures</li>
<li>	Population and demographic information</li>
<li>	Risk related data – meteorological, crime and other, and</li>
<li>	Economic activity.</li>


                </ul>


                <p>This approach is of benefit to different stakeholders. </p>

                <ul>
<li>	Regulatory authorities are able to understand the distribution infrastructure within their jurisdiction and to identify populations that are either inadequately served or over-served.</li>
<li>	FSPs are able to identify locations for the distribution of their services, and then leverage this approach to conduct a viability analysis of these locations to ensure that the supporting infrastructure is in place. Providers in the insurance and credit space draw on geographic risk information for both product development and pricing.</li>

                </ul>


                <p>The use of GIS allows stakeholders to:</p>

                <ul>

<li>Produce official country statistics on specific access points, such as Bank Branches, ATMs, mobile money agents etc.</li>
<li>Understand drivers of usage of financial access points</li>
<li>Effectively enforce KYC rules relating to agent banking</li>
<li>Better inform financial sector infrastructure development, eg. where best to place additional access points, thereby increasing access</li>
<li>Contribute to the Global Goals adopted by the UN cost effectively</li>
<li>Critical analysis of the effects of central bank policies, and</li>
<li>Identify unserved and underserved populations.</li>

                </ul>



              </div>
              <!-- END Geospatial  popup -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
             <h3 id="contact" class="title -blue -big">Contact DFM</h3>

            <p>Feel free to contact us for more information on our Data for Financial Markets suite, these include;  FinScope Consumer & MSME surveys,  low cost mobile data collection, Geospatial (GIS) solutions, data portal housing numerous FI data sets and our Analytics capability that can generate insights from all data sources.
            </p>
            <hr>
            <br>

           <h3 class="title -blue -medium">Grant Robertson</h3>
            <p>
              <i>Executive Manager Analytics and Data</i>
              <br><br>
              <b>Tel:</b> +27 (0) 11 315 9197<br>
              <b>Email:</b> <a href="mailto:grantr@finmark.org.za">grantr@finmark.org.za</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
