<% title 'Data for Financial Markets' %>



<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <br>
                <h1 class="title -highlight -huge">Data for Financial Markets</h1>
                <p class="subtitle">
                  Learn more about our Data for Financial Markets to address new data opportunities and challenges within Financial inclusion.
                  <%= link_to "FinScope Consumer", data_for_financial_markets_path(:anchor => "consumer"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "FinScope MSME", data_for_financial_markets_path(:anchor => "msme"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Mobile", data_for_financial_markets_path(:anchor => "mobile"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Analytics", data_for_financial_markets_path(:anchor => "analytics"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Portal", data_for_financial_markets_path(:anchor => "portal"), class: "js-anchor", data: { turbolinks: false } %>,
                  <%= link_to "Geospatial", data_for_financial_markets_path(:anchor => "geospatial"), class: "js-anchor", data: { turbolinks: false } %>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Data_hero.jpg', :width => '90%', :align => 'center',  :alt => 'DFM' %>
            <br><br>
            <h3 class="title -dark -big">Data for Financial Markets</h3>
            <p>
              Data is the new oil. Big data, small data, structured data, unstructured data, demand side data, supply side data… we live in a data rich world. With this data ecosystem, being so abundant and our research questions more complex than ever before, we can no longer rely only on limited traditional Financial Inclusion (FI) data solutions. A plethora of new data sources is now available while, at the same time, traditional data collection methods are becoming prohibitively expensive. Serious questions about the quality and relevance of this research are also being raised.
            </p>
            <p>
              The Data for Financial Markets programme was established to address these new data opportunities and challenges. about the quality and relevance of this research It houses our new and improved gold standard FinScope Consumer and MSME survey offering. A suite of new products, that include a low cost mobile data collection capability, Geospatial (GIS) solutions, a data portal housing numerous FI data sets and an Analytics capability than can generate insights from all data sources, including Big Data form part of this.
            </p>

            <br><br>

            <iframe width="100%" height="500" src="https://www.youtube.com/embed/0fNAvRdccnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



          </div>
        </div>

      </div>
    </div>
  </div>


  <footer class="c-footer">
    <div class="footer-header">
      <div class="wrapper">
        <div class="row">
          <div id="consumer" class="grid-s-12 grid-m-6 footer-header-col-1">
            <div class="header-item -newsletter js-subscribe">

              <%= image_tag '/images/logos/Finscope_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT FinScope' %>
              <br>
              <%= image_tag '/images/logos/fmt-finscope.svg', :width => '222', :alt => 'FMT FinScope' %>
              <p class="text -leading">

                FinScope Consumer is a probability survey with an end user focus (individual or Household) of financial services and products. The FinScope Consumer Survey is unique in aiming specifically aat increasing understanding of the informal financial product/service market. Widely used by both governments, to direct policy development, and financials service providers, to build more relevant and profitable financial products and services.
              </p>


              <br><br>

              <button onclick="window.location.href='/national_surveys'" class="c-button">View FinScope data</button>
              <br>

              <button class="c-button js-read-more" data-title="FinScope Consumer">Read more</button>


              <!-- FinScope  popup -->

              <div style="display: none;">


                <ul>
                  <li>Implementation of national probability financial inclusion surveys</li>
                  <li>Implementation of sub national probability financial inclusion surveys (e.g. provincial/state, city, rural, women, youth)</li>
                  <li>Provision of technical assistance and quality control to countries who are implementing their own financial inclusion surveys</li>
                  <li>Capacity building and training for countries launching their first financial inclusion surveys</li>
                  <li>Bespoke surveys focused on specific issues of relevance to financial inclusion, such as digital financial service, payments, remittances, etc;</li>
                  <li>Exploratory qualitative research.</li>


                </ul>
              </div>

              <!-- END FinScope  popup -->
            </div>
          </div>

          <div id="msme" class="grid-s-12 grid-m-6">
            <div class="header-item -contact-us">
              <%= image_tag '/images/logos/Finscope_msme.svg', :width => '90%', :align => 'center',  :alt => 'FinScope MSME' %>
              <br>
              <%= image_tag '/images/logos/fmt-MSME.svg', :width => '222', :alt => 'FinScope MSME' %>
              <p class="text -leading">
                FinScope MSME is a probability survey of MSMEs. They are crucial entities for economic growth and employment creation across the developing world. FinScope MSME was developed to expand the role that the financial sector and its participants can play in SMMEs,. Now operationalised in eight countries, ,like its sister entity, FinScope Consumer, it is used by a wide variety of stakeholders in support their financial services market strategiesfor MSMEs.
              </p>

              <br><br>
              <button onclick="window.location.href='/data-portal/msm-enterprises'" class="c-button">View FinScope MSME data</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>




  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div id="mobile" class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Mobile_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Mobile' %>
            <br>
            <%= image_tag '/images/logos/DFM Mobile_color.svg', :width => '222', :alt => 'FMT Mobile' %>
            <p>
              The proliferation of mobile devices has presented researchers with a golden opportunity to rethink the way data is collected. Mobile surveys are not soon going to replace traditional Demand Side Surveys (DSS) , but do provide us with options to track important market metrics regularly and to understand emerging phenomena. Mobile generated insights can then be explored further using tailored DSS surveys or experimental methods. Advantages of Mobile:
            </p>

            <br><br>
            <button class="c-button js-read-more" data-title="Mobile">Read more</button>

            <!--  Mobile popup -->

            <div style="display: none;">


              <p>Allows for more sustainable research programmes (i.e. reduced cost)</p>

              <ul>
                <li>Quicker data and indicator cycles</li>
                <li>Interim measurement between large FI surveys and for M andE tracking</li>
                <li>More relevant mode for some target markets (youth);</li>
                <li>Produces data complementary to FinScopes and Supply Side data, not a replacement;</li>
                <li>Modularised measurement around specific themes;</li>
                <li>Delves into specific topics (DFS, usage, etc);</li>
                <li>Early insight into emerging trends.</li>


              </ul>


              <p>The DFM programme has successfully used mobile surveys in a number of countries, including Zimbabwe, Tanzania, Uganda, and South Africa to understand particular financial services behaviour. During 2018 data was be collected through mobile devices in eight more countries. Our mobile offering includes data collection via SMS, USSD, web, and Computer Aided Telephone Interviews (CATI).</p>



            </div>
            <!-- END Mobile  popup -->



          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div id="analytics" class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/Analytics_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Analytics' %>
            <br>
            <%= image_tag '/images/logos/DFM Analytics_colour.svg', :width => '222', :alt => 'FMT Analytics' %>
            <p>
              Gathering data is the easy part, knowing what to do with it is the difficult one. Our team of researchers, statisticians, and data scientist can analyse FinScope or Big Data to generate evidence and insights across core themes, such as women, the informal sector, digital financial services, product usage, financial needs, and livelihoods. By exploring your data through new analytical lenses, our team will maximise the investment made, and give you fresh perspectives on how best to serve the poor.
            </p>

            <br><br>
            <button class="c-button js-read-more" data-title="Analytics">Read more</button>

            <!-- Analytics popup -->

            <div style="display: none;">


              <p>
                The Analytics theme offers these solutions:
              </p>

              <ul>

                <li>Segmentation and target market analysis & reporting</li>
                <li>Analysis and insights from transactional data</li>
                <li>Analysis and insights from alternative data (e.g. social media data, sentiment analysis)</li>
                <li>Technical assistance and capacity building to countries who are collecting supply side data</li>
                <li>Creation and maintenance of supply side dashboards</li>
              </ul>

            </div>
            <!-- END Analytics popup -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="c-footer">
    <div class="footer-header">
      <div class="wrapper">
        <div class="row">
          <div id="portal" class="grid-s-12 grid-m-6 footer-header-col-1">
            <div class="header-item -newsletter js-subscribe">
              <%= image_tag '/images/logos/portal_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Portal' %>
              <br>
              <%= image_tag '/images/logos/DFM Portal_white.svg', :width => '222', :alt => 'FMT Portal' %>
              <p class="text -leading">

              <p>The portal currently hosts multiple data types of data and analytical tools, including:<br><br>
                Nationally representative survey datasets for over 40 countries. (See our FinScope product line for more information.);
                •GIS location data, combined contextual GIS data layers for seven countries. (See our GIS product line for more information.);
                Tools for the generation of headline financial inclusion statistics from the data and;
                Visualisation tools to facilitate understanding and analytics.
              </p>

              <br /> <br />
              <button onclick="window.location.href='/data-portal'" class="c-button">View data portal</button><br>
              <button class="c-button js-read-more" data-title="Data Portal">Read more</button>



              <!--  Portal popup -->

              <div style="display: none;">

                <p>
                  The open data portal leverages our own publically disseminated data, as well as the data of entities such as CGAP, MFO, the World Bank, LIFT, the FSD Network, Resource watch, the United Nations, and country level regulatory authority and GIS data.<br><br>
                  Our portal is evolving continuoually as our data and analytics work is conducted in more countries as well as novel data sources for existing countries. Over the next few months, it will start hosting live data from publically available entities.

                </p>

                <p>Consumers of this data offering have currently been various regulatory authorities in the telecommunications and financial services space. The private sector entities that they regulate in Lesotho, Nigeria, Kenya, Tanzania, Uganda, India, and Bangladesh also use it.</p>

              </div>
              <!-- END Geospatial  popup -->

            </div>
          </div>

          <div id="geospatial" class="grid-s-12 grid-m-6">
            <div class="header-item -contact-us">
              <%= image_tag '/images/logos/GEO_hero.svg', :width => '90%', :align => 'center',  :alt => 'FMT Geospatial' %>
              <br>
              <%= image_tag '/images/logos/DFM Geospatial_white.svg', :width => '222', :alt => 'FMT Geospatial' %>
              <p class="text -leading">
                FinMark Trust maps out the financial services and other distribution infrastructure in several the Insight2Impact focus countries. At its core, this geospatial offering supports the cantering of financial infrastructure around consumers. It also uses location intelligence to inform key decision areas, such as KPI measurement, product design and implementation, strategic investments, risk management, and consumer protection
              </p>
              <br /> <br />


              <button onclick="window.location.href='/geospatial_data'" class="c-button">View Geospatial data</button>
              <br>

              <button class="c-button js-read-more" data-title="Geospatial">Read more</button>


              <!--  Geospatial popup -->

              <div style="display: none;">


                <p>This is achieved by overlaying GIS information on themes such as:</p>

                <ul>
                  <li>Infrastructure information – road networks, financial and other infrastructures;</li>
                  <li>Population and demographic information;</li>
                  <li>Risk related data – meteorological, crime and other;</li>
                  <li>Economic activity.</li>

                </ul>


                <p>This approach is of benefit to different stakeholders:</p>

                <ul>
                  <li>Regulatory authorities are able to understand the distribution infrastructure within their jurisdiction and, importantly, to identify populations that are either inadequately served or over-served.</li>
                  <li>FSPs are able to identify locations for the distribution of their services. Once identified, providers also leverage this approach to conduct a viability analysis of these locations to ensure that the supporting infrastructure is in place. Finally, providers in the insurance and credit space draw on geographic risk information for both product development and pricing.</li>

                </ul>


                <p>The use of GIS allows us to:</p>

                <ul>
                  <li>Produce official country statistics on specific access points, such as Bank Branches, ATMs, mobile money agents etc;</li>
                  <li>Understand drivers of usage of financial access points;</li>
                  <li>Effectively enforce KYC rules relating to agent banking;</li>
                  <li>Better inform financial sector infrastructure development, e.g. where best to place additional access points, thereby increasing access;</li>
                  <li>Contribute to the Global Goals adopted by the UN cost effectively</li>
                  <li>Critical analysis of the effects of central bank policies;</li>
                  <li>Identify unserved population.</li>
                </ul>


                <p>Consumers of this data offering have currently been various regulatory authorities in the telecommunications and financial services space. The private sector entities that they regulate in Lesotho, Nigeria, Kenya, Tanzania, Uganda, India, and Bangladesh also use it.</p>

              </div>
              <!-- END Geospatial  popup -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
             <h3 id="contact" class="title -blue -big">Contact DFM</h3>

            <p>Feel free to contact us for more information on our Data for Financial Markets suite, these include;  FinScope Consumer & MSME surveys,  low cost mobile data collection, Geospatial (GIS) solutions, data portal housing numerous FI data sets and our Analytics capability that can generate insights from all data sources.
            </p>
            <hr>
            <br>

           <h3 class="title -blue -medium">Grant Robertson</h3>
            <p>
              <i>Executive Manager Analytics and Data</i>
              <br><br>
              <b>Tel:</b> +27 (0) 11 315 9197<br>
              <b>Email:</b> <a href="mailto:grantr@finmark.org.za">grantr@finmark.org.za</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
