<% title 'FSD Network' %>


<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <br>
                <h1 class="title -highlight -huge">FSD Network</h1>
                <p class="subtitle">
The FSD Network is a family of nine Financial Sector Deepening, or FSD, programmes operating across Africa.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
            <%= image_tag '/images/logos/FSD_Network.jpg', :width => '90%', :align => 'center',  :alt => 'FSD_Network' %>
            <br><br>
            <h3 class="title -dark -big">FSD Network</h3>
            <p>
This FSD Network has a strong local footprint. It has offices in 8 countries across sub-Saharan Africa, and a staff of over 250 financial sector experts. Together, the network invests over £50m a year in high-potential programmes.            </p>
            <p>
Since 2002, when the first FSD programme was created and funded by the UK government’s Department for International Development (DFID), the FSD Network has attracted funding from a number of sources, including the Swedish International Development Cooperation Agency, the Bill & Melinda Gates Foundation, the Mastercard Foundation and US Aid. However, DFID remains the largest funding partner across the FSD Network.            </p>
  <p>
As the FSD Network’s regional programme, FSD Africa works to strengthen the impact of individual FSDs and the network as a whole. We regularly convene the FSD Network community, providing capacity-building support, and proactively fostering opportunities for collaboration on pioneering new work streams across the network.            </p>

<p>
The Network was officially formed on 27 September 2019. Current members of the FSD Network are:
</p>

<p>

<br>
<div class="row" align="center">

<a href="http://afr.rw/" >
              <%= image_tag '/images/logos/AFR.jpg', :width => '20%', :align => 'center',  :alt => 'button' %>
				  </a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://www.efina.org.ng/" >
              <%= image_tag '/images/logos/EFIna.jpg', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a href="https://www.finmark.org.za/" >
              <%= image_tag '/images/logos/finmark-trust.png', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>
		</div>

<br><br>
<div class="row" align="center">

<a href="https://www.fsdafrica.org/" >
              <%= image_tag '/images/logos/FSD-Africa.png', :width => '20%', :align => 'center',  :alt => 'button' %>
				  </a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://fsdkenya.org/" >
              <%= image_tag '/images/logos/fsdk.png', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a href="http://fsdmoc.com/" >
              <%= image_tag '/images/logos/fsdmoc.jpg', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>
		</div>

<br><br>

<div class="row" align="center">

<a href="https://www.fsdt.or.tz/" >
              <%= image_tag '/images/logos/fsdt-logo.png', :width => '20%', :align => 'center',  :alt => 'button' %>
				  </a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://fsduganda.or.ug/" >
              <%= image_tag '/images/logos/fsdu.png', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a href="https://www.fsdzambia.org/" >
              <%= image_tag '/images/logos/FSD-Zambia.png', :width => '20%', :align => 'center',  :alt => 'button' %>
		 </a>
		</div>



</p>

<br><br>
   <div align="center" >

<a href="/FSD/Press_Release_Announcing the FSD Network.pdf">
              <%= image_tag '/images/logos/presser.svg', :width => '40%', :align => 'center',  :alt => 'button' %>
				  </a>

<a href="/FSD/FSD Network intro briefing note.pdf">
              <%= image_tag '/images/logos/Briefing.svg', :width => '40%', :align => 'center',  :alt => 'button' %>
				  </a>
</div>


          </div>
        </div>

      </div>
    </div>
  </div>


</div>
