<% title 'Our work | FinMark Trust' %>

<div class="l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-gradient@2x.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <h1 class="title -highlight -huge">Programmes</h1>
                <p class="subtitle">Our work seeks to further financial and economic inclusion for the poor of the SADC region. The work is implemented in individual countries as well as on a regional basis to support finance and economic integration on the region. Selected thematic areas support our mission. </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">
        <% if @featured_tags && @featured_tags.size > 0 %>
          <div class="row">
            <div class="grid-s-12 grid-m-12">
              <article class="c-card">
                <%= link_to '', initiatives_filter_index_path(@featured_tags[0].slug), class: "picture", style: "background-image: url(#{asset_path(@featured_tags[0].image_url)}" %>
                <div class="metadata">
                  <h4 class="title -dark -xbig">
                    <%= link_to @featured_tags[0].title, initiatives_filter_index_path(@featured_tags[0].slug) %>
                  </h4>
                  <div><%= @featured_tags[0].description.html_safe %></div>
                </div>
              </article>
            </div>
          </div>
          <div class="row js-masonry-cards">
            <% @featured_tags.each_with_index do |tag, index| %>
              <% if index > 1 %>
                <div class="js-masonry-item grid-s-12 grid-m-6">
                  <article class="c-card">
                    <%= link_to '', initiatives_filter_index_path(tag.slug), class: "picture", style: "background-image: url(#{asset_path(tag.image_url)}" %>
                    <div class="metadata">
                      <h4 class="title -dark -xbig">
                        <%= link_to tag.title, initiatives_filter_index_path(tag.slug) %>
                      </h4>
                      <p><%= tag.description.html_safe %></p>
                    </div>
                  </article>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


<div class="l-content">
    <div class="wrapper">
      <div class="l-section -insights">
        <div class="c-card-highlight -about -reverse">
          <div class="content">
            <h3 id="contact" class="title -blue -big">Contact Programmes</h3>

            <p>Feel free to contact us for more information on our programmes in the SADC region,  these include;   Agricultural Value Chains, Digital Financial Services, Innovation,  MSMEs, Policy and Regulation, Supplier Development and Women and Youth.
            </p>
            <hr>
            <br>

            <h3 class="title -blue -medium" >Nicole Kettles</h3>
            <p>
              <i> Executive Head of Programmes</i>
              <br><br>
              <b>Tel:</b> +27 (0) 11 315 9197<br>
              <b>Email:</b> <a href="mailto:nikkik@finmark.org.za">nikkik@finmark.org.za</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
