<footer class="c-footer">
  <div class="footer-header">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12 grid-m-6 footer-header-col-1">
          <div class="header-item -newsletter js-subscribe">
            <h2 class="title -big">Newsletter</h2>
            <p class="text -leading">
              <a href="https://confirmsubscription.com/h/t/68142426159675B0" target="_blank" class="text -highlight -button js-subscribe-link">Sign up here</a>
              <!--<button type="button" class="text -highlight -button js-subscribe-link" data-id="alyukr"><u>Sign up here</u></button>--> for our monthly FI Snapshot, covering data and innovation in the financial services sector.
            </p>
            <%-#<p class="text">And, to receive Finmark updates, <button type="button" class="text -highlight -button js-subscribe-link" data-id="dlhlud" data-institution="true">subscribe</button> to the FI Snapshot quarterly newsletter.</p>-%>
          </div>
        </div>

        <div class="grid-s-12 grid-m-6">
          <div class="header-item -contact-us">
            <h2 class="title -big">Contact us</h2>
<p class="text -highlight -leading">
           Get in touch with FMT to exchange ideas or if you would like to work with us.  <a class="text -highlight -button js-subscribe-link" href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %> </a>
             </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-content">
    <div class="wrapper">

      <div class="pre-footer">
        <div class="row">
          <div class="grid-s-12 grid-l-4">

            <div class="social">
              <h4 class="title -light -medium -center">Follow us</h4>
              <ul class="social-list">
                <li class="social-item">
                  <a class="social-link" href="https://www.linkedin.com/company/finmark-trust/" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-linkedln"></use></svg>
                  </a>
                </li>
                <li class="social-item">
                  <a class="social-link" href="https://twitter.com/Finmarktrust" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                  </a>
                </li>
                <li class="social-item">
                  <a class="social-link" href="https://www.youtube.com/channel/UCU_dkL66EAKob74u0vnAwrA" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-youtube"></use></svg>
                  </a>
                </li>
                 <li class="social-item">
                  <a class="social-link" href="https://www.facebook.com/finmarktrustsa" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="grid-s-12 grid-l-4">
            <div class="programmes">
          <a href="/fsd-network" target="_self"> <h4 class="title -light -medium -center">FSD Network</h4></a>
              <div class="programmes-row">
                <div class="programmes-col">
              <ul>
    <li><a href="http://afr.rw/" target="_blank" style="color: #ffffff"><strong>AFR</strong> - Access to Finance Rwanda</a></li>
       <li><a href="https://www.efina.org.ng/" target="_blank" style="color: #ffffff"><strong>EFInA</strong> - Enhancing Financial Innovation & Access </a></li>
	  <li><a href="https://finmark.org.za/" target="_blank" style="color: #ffffff"><strong>FMT</strong> - FinMark Trust</a></li>
	  	  <li><a href="https://fsdkenya.org/" target="_blank" style="color: #ffffff"><strong>FSDK</strong> -  Financial Sector Deepening Kenya</a></li>
 <li><a href="https://www.fsdafrica.org/" target="_blank" style="color: #ffffff"><strong>FSDA</strong> -  FSD Africa</a></li>

                  </ul>
                </div>
                <div class="programmes-col">
             <ul>
       <li><a href="http://fsdmoc.com/" target="_blank" style="color: #ffffff"><strong>FSDMOC</strong> - Financial Sector Deepening Moçambique </a></li>
       <li><a href="http://www.fsdt.or.tz/" target="_blank" style="color: #ffffff"><strong>FSDT</strong> - Financial Sector Deepening Tanzania </a></li>
	  <li><a href="http://fsduganda.or.ug/" target="_blank" style="color: #ffffff"><strong>FSDU</strong> - Financial Sector Deepening Uganda</a></li>
	  	  <li><a href="https://www.fsdzambia.org/" target="_blank" style="color: #ffffff"><strong>FSDZ</strong> - Financial Sector Deepening Zambia</a></li>


                  </ul>


                </div>

              </div>



            </div>
          </div>

          <div class="grid-s-12 grid-l-4">
            <div class="partners">
              <h4 class="title -light -medium -center">Partners</h4>

              <ul class="partners-list">
                <li class="partners-item uk-aid-item">
                  <%= link_to image_tag('/images/logos/uk-aid@2x.png',
                    :width => '60',
                    :alt => 'UK Aid'), 'https://www.ukaiddirect.org/',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="partners-item un-cdf-item">
                  <%= link_to image_tag('/images/logos/un-cdf@2x.png',
                    :width => '60',
                    :alt => 'UN Capital Development Fund'), 'https://www.uncdf.org/',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="partners-item mastercard-foundation-item">
                  <%= link_to image_tag('/images/logos/mastercard-foundation@2x.png',
                    :width => '60',
                    :alt => 'Mastercard Foundation'), 'https://mastercardfdn.org/',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
</ul>
                  <ul class="partners-list">
                <li class="partners-item uk-aid-item">
                  <%= link_to image_tag('/images/logos/bmgf@2x.png',
                    :width => '120',
                    :alt => 'BMGF'), 'https://www.gatesfoundation.org/',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>

  <li class="partners-item uk-aid-item">
                  <%= link_to image_tag('/images/logos/world_bank@2x.png',
                    :width => '116',
                    :alt => 'World Bank'), 'https://www.worldbank.org/',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>

<li class="partners-item uk-aid-item">
                  <%= link_to image_tag('/images/logos/seco@2x.png',
                    :width => '116',
                    :alt => 'SECO'), 'https://www.seco-cooperation.admin.ch/secocoop/en/home.html',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>



              </ul>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
  </footer>
  <div align="center" style="background-color: #232323; padding: 10px; font-size: 12px;  color: #ffffff"> <a href="/privacy-policy" style="color: #ffffff">Privacy policy</a>   |   <a href="/terms-of-use" style="color: #ffffff">Terms of use</a>    |   <a href="https://finmarktrust.sharepoint.com/sites/FMTintranet" style="color: #ffffff">Intranet</a></div>
